# 문제 1

카페에 올려진 'corona' csv파일을 다운받아서 df에 저장하기
(corona.csv는 대한민국 코로나 환자에 대한 정보가 담긴 데이터)

In [34]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("./corona.csv")

(1) 서울과 대구에서 코로나가 감염된 환자의 데이터만 추출해서 dff에 저장하기
 - 지역 정보는 'province' 열에
 - 힌트: df[(x)], x내부에 조건문 넣기

In [28]:
dff=df.loc[(df["province"]=="Seoul")|(df["province"]=="Daegu"),:]

(2) city열의 정보가 제대로 입력되지 않은 행들을 NaN으로 바꾸어 제거하기
 - (1)번에서 생성된 dff 사용

In [32]:
sum(dff["city"].isnull())

0

In [37]:
dff["city"].replace("*",np.nan,inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [39]:
dff["city"].dropna(inplace =True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\series.py:4494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(result)

# 문제 2

서울과 대구에서 매일 마지막으로 감염된 코로나 환자들의 데이터 만을 추출하기
(1번에서 사용한 dff데이터 사용)
- 감염 날짜에 대한 정보는 'confirmed_date' 열에
- drop_duplicates() 메소드를 이용
- 힌트 : keep 옵션을 변경하여 각 날짜에 마지막 데이터 추출
- 보기 좋게 'patient_id','province','confirmed_date' 만 출력

In [42]:
dff.drop_duplicates(subset=["confirmed_date"],keep="last")[["patient_id","province","confirmed_date"]]

     patient_id province confirmed_date
0    1000000001    Seoul     2020-01-23
3    1000000004    Seoul     2020-01-30
6    1000000007    Seoul     2020-01-31
7    1000000008    Seoul     2020-02-02
9    1000000010    Seoul     2020-02-05
10   1000000011    Seoul     2020-02-06
11   1000000012    Seoul     2020-02-07
13   1000000014    Seoul     2020-02-16
30   1000000031    Seoul     2020-02-22
31   1000000032    Seoul     2020-02-23
97   1000000098    Seoul     2020-03-02
110  1000000111    Seoul     2020-03-04
117  1000000118    Seoul     2020-03-07
119  1000000120    Seoul     2020-03-06
155  1000000156    Seoul     2020-03-09
201  1000000202    Seoul     2020-03-10
219  1000000220    Seoul     2020-03-11
230  1000000231    Seoul     2020-03-12
239  1000000240    Seoul     2020-03-13
247  1000000248    Seoul     2020-03-14
253  1000000254    Seoul     2020-03-15
266  1000000267    Seoul     2020-03-16
270  1000000271    Seoul     2020-03-17
281  1000000282    Seoul     2020-03-18
298  1000000299    Seoul     2020-03-19
405  1200000038    Daegu     2020-02-18
425  1200000065    Daegu     2020-02-19
443  1200000090    Daegu     2020-02-20
444  1200000114    Daegu     2020-02-21
445  1200000620    Daegu     2020-02-24
446  1200000901    Daegu     2020-02-25
447  1200001064    Daegu     2020-02-26
449  1200001443    Daegu     2020-02-27
452  1200002289    Daegu     2020-02-28
455  1200002936    Daegu     2020-02-29
460  1200004046    Daegu     2020-03-01
461  1200005767    Daegu     2020-03-05
462  1200007196    Daegu     2020-03-08

# 문제 3
'auto-mpg.csv'에서 변수 [acceleration]의 경계값과 각 경계에 들어가는 데이터의 개수를 구하고, 구간 이름을 ['낮음','보통','높음']으로 하여 범주형 이산 변수로 변환하여라.

In [48]:
mpg = pd.read_csv("./auto-mpg.csv")

(1) 경계값과 각 경계에 들어가는 데이터의 개수 구하기

In [49]:
count,bin_dividers=np.histogram(mpg["acceleration"],3)

In [50]:
print(count, bin_dividers)

[ 96 267  35] [ 8.  13.6 19.2 24.8]

(2) 범주형 이산변수로 변환

In [51]:
bin_names=["낮음","보통","높음"]
mpg["acceleration"]=pd.cut(mpg["acceleration"],bins=bin_dividers,labels=bin_names,include_lowest=True)

# 문제 4
변수 displacement를 정규화 하여라. (2가지 방법 중에서 아무거나 사용)

0      307.0
1      350.0
2      318.0
3      304.0
4      302.0
       ...
393    140.0
394     97.0
395    135.0
396    120.0
397    119.0
Name: displacement, Length: 398, dtype: float64

#### 방법(a) : 각 열의 데이터를 해당 열의 최대값(이의 절대값)으로 나누는 방법.

In [54]:
mpg_max=mpg["displacement"].max()
mpg["displacement"]/mpg_max

0      0.674725
1      0.769231
2      0.698901
3      0.668132
4      0.663736
         ...
393    0.307692
394    0.213187
395    0.296703
396    0.263736
397    0.261538
Name: displacement, Length: 398, dtype: float64

#### 방법(b) : 각 열의 데이터 중에서 최대값과 최소값을 뺀 값으로 나누는 방법

In [55]:
mpg_min=mpg["displacement"].min()
mpg_max_min=mpg_max-mpg_min
(mpg["displacement"]-mpg_min)/mpg_max_min

0      0.617571
1      0.728682
2      0.645995
3      0.609819
4      0.604651
         ...
393    0.186047
394    0.074935
395    0.173127
396    0.134367
397    0.131783
Name: displacement, Length: 398, dtype: float64

# 문제 5
2020년 4월 8일부터 평일인 날로 Timestamp의 배열을 20개 만들어 보세요.

In [57]:
pd.date_range(start="2020-04-08",end=None, periods=20,freq="B")

DatetimeIndex(['2020-04-08', '2020-04-09', '2020-04-10', '2020-04-13',
               '2020-04-14', '2020-04-15', '2020-04-16', '2020-04-17',
               '2020-04-20', '2020-04-21', '2020-04-22', '2020-04-23',
               '2020-04-24', '2020-04-27', '2020-04-28', '2020-04-29',
               '2020-04-30', '2020-05-01', '2020-05-04', '2020-05-05'],
              dtype='datetime64[ns]', freq='B')