# 제목
## 제목
*기울기*
**진하게**

`비타민` `5기`

# 순서 없는 리스트
- 123
- 123
  - 123
    - 123
    
    
# 순서 있는 리스트

1. 순서 있는 리스트
1. 순서있
1. ㅇㄹㅇ

# 인용구
> 인용구 만들기

# 표만들기
이름|전화번호|성별
-|-|-  
비타민|1234|남
이혜림|1234|남

-|-|- 이걸 꼭 해줘야지 표 형식이 됨

---
!.[이미지설명].(https://pds.joins.com/news/component/htmlphoto_mmdata/201911/15/204986cb-6c18-4c07-b7ec-964029adfa49.jpg)
.[링크설명].(http://naver.com)

## 단축키

shift+tab => 함수 인자에 대한 설명을 보여줌
ctrl+/ => 주석처리 해줌

In [7]:
print(4,9,sep="dd",end="%%")

4dd9%%

In [11]:
a=None
b=3
c="ㄱ"

In [14]:
print(f"{b}는 {c}이다")
print("{}는 {}이다".format(b,c))
print("{1}은 {0}이다".format(b,c))

3는 ㄱ이다
3는 ㄱ이다
ㄱ은 3이다

In [17]:
"ro".replace("r","1") #리스트에서는 사용할 수 없음

'1o'

In [18]:
"rorrrdfod".split("o")

['r', 'rrrdf', 'd']

In [20]:
a=[1,3,3]
a.remove(3)
a.

[1, 3]

In [ ]:
n=int(input())
reg=[]
for i in range(n):
    a=map(int,input().split())
    reg.append(a)
    
num=0

def divide(x,k):
    reg=[]
    for idx, i in enumerate(x):
        a=i[:k]
        b=i[k:]
        reg[num]=reg[2*num]+a
        reg[num+1]=reg[2*num+1]+a

        
while True:
    for idx, i in enumerate(reg): 
        if k==i:
            pass
        elif k!=i:
            reg
        if idx==0:
            k=i
            continue
        k=i

In [24]:
g=lambda x,y:x+y

In [22]:
g(1,2)

3

In [23]:
a=[1,2,3]

In [25]:
g(a,a)

[1, 2, 3, 1, 2, 3]

In [27]:

import numpy as np